# Supabase Configuration
SUPABASE_URL=https://aryztyoplbsviifdgrur.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFyeXp0eW9wbGJzdmlpZmRncnVyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgzOTUzNzksImV4cCI6MjA3Mzk3MTM3OX0.JxKU8LhL17upK80mIMoWkzqaWDjKwv2WsgW0to6FF8I

# OpenAI Configuration
OPENAI_API_KEY=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


# Email Configuration
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
EMAIL_USERNAME=krishnakumar.kk2409@gmail.com
EMAIL_PASSWORD=fleu syyd ebbs pstg
REPORT_EMAIL=krishna.encap@gmail.com

# Application Configuration
DOCUMENTS_FOLDER=./documents
CHUNK_SIZE=1000
CHUNK_OVERLAP=200
SIMILARITY_THRESHOLD=0.7